/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 70px tall */
body {
  padding-top: 70px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-brand {
  font-size: 32px;
  padding-top: 25px;
  padding-right: 30px;
  height: 70px;
}

.navbar-nav > li > a {
    font-size: 30px;
    padding-top: 25px;
    padding-right: 40px;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  font-size: 20px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 71px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-top: 45px;
  margin-left: -10px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 30px;
  padding-top: 50px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Booking table
 */
.tdcheckbox {
  width: 30px;
}
.glyphicon-remove {
  color: #d9534f;
}
.glyphicon {
  padding-right: 5px;
}

/*
 * Clockpicker
 */
.clockpicker {
  width: 110px;
}
